<div layout:decorate="~{modelo/modelo}" layout:fragment="conteudo">
  <div th:if="${contato != null}" >
    <h1>Contato cadastrado</h1>
    <h2>Nome: <span th:text="${contato.nome}">Teste</span></h2>
    <p>E-mail: <span th:text="${contato.email}">email@email.com</span></p>
    <p>Idade: <span th:text="${contato.idade}"></span></p>
    <p>Sexo: <span th:switch="${contato.sexo}">
        <span th:case="1">Masculino</span>
        <span th:case="*">Feminino</span>
      </span></p>
    <p th:if="${contato.idade < 18}">*** Menor de 18 anos ***</p>
  </div>
  <div th:if="${contato == null}">
    <h1>Erro</h1>
    <a th:href="@{/contato/entrada}">Voltar para formulário</a>
  </div>
</div>
