@charset "UTF-8";

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}
body {
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  width: 100%;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  padding-top: 15px;
}